<div class="container">
  <div class=" ml-4 mt-6">
    <h1 class="title is-2 mt-6">Nice to meet you </h1>
    <h1 class="subtitle is-6 mt-2">Please enter your personal information to insure it matches the details on your
      iban</h1>
    <hr/>
  </div>
  <div class="columns ml-4 mt-4">

    <div class="column is-two-thirds">

      <div class="field">
        <label class="label">Main purpose for applying at MCB </label>
        <div class="control">
          <div class="select is-fullwidth">
            <select>
              <option>Account to operate locally</option>
              <option>Account to operate overseas</option>
              <option>Energy & commodities financing</option>
              <option>Investment portfolio</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Name of the company</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input" value="">
        </div>
      </div>


      <div class="field">
        <label class="label">Type of entity</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select>
              <option>Association</option>
              <option>Private Company</option>
              <option>Trust</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Business activity</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select>
              <option>Banking</option>
              <option>Fishing</option>
              <option>Manufacturing</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">System to prompt license requirements if business activity is Banking</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input" value="---">
        </div>
      </div>

      <div class="field">
        <label class="label">Country of incorporation</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select>
              <option>Association</option>
              <option>Private Company</option>
              <option>Trust</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Registration Number</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input" value="">
        </div>
      </div>



      <div class="field">
        <label class="label">Date of incorporation</label>
        <div class="control">
          <input class="input is-fullwidth" type="date" placeholder="Text input" value="bulma">
        </div>
      </div>

      <div class="field">
        <label class="label">Name of Director / Shareholders</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input" value="">
        </div>
      </div>

      <div class="field">
        <label class="label">Passport Number</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input" value="---">
        </div>
      </div>

      <div class="field">
        <label class="label">Name of designated of applicant</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input" value="---">
        </div>
      </div>

      <div class="field">
        <label class="label">Email address for communication</label>
        <div class="control">
          <input class="input " type="email" placeholder="Text input" value="">
        </div>
      </div>
    </div>

  </div>

  <div class="columns is-two-thirds ml-4 mt-4">
    <div class="column is-two-thirds">

      <p class="title is-4">Upload Content :</p>

      <div class="block is-bordered line-height_4">
        <div class="column ">
          <p class="title is-2 mb-4 my-2 has-text-centered">
            <span class="fas fa-upload mr-4"></span>
            <span class="fas fa-camera ml-4"></span>
          </p>
          <p class="title is-5 my-4 has-text-centered">Upload your file</p>
          <p class="subtitle is-6  has-text-centered">you can take a picture or upload your document</p>

          <div class="mt-4 mb-4 has-text-centered">
            <button class="button is-primary has-text-white">Upload</button>
          </div>

          <p>Max size is 5 MB ,Allowed files are .jpg,.png,.jpeg,.img,.pdf</p>

          <div class="block mt-2">
            <div class="columns mt-4 is-column-gap-2">
              <button class="button is-half column is-half">Cancel</button>
              <button class="button is-half column is-dark ">Next</button>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
