<div class="container">
  <div class=" ml-4 mt-6">
    <h1 class="title is-2 mt-6">Nice to meet you </h1>
    <h1 class="subtitle is-6 mt-2">Please enter your personal information to insure it matches the details on your
      iban</h1>
    <hr/>
  </div>
  <div class="columns ml-4 mt-4">

    <div class="column is-two-thirds">
      <div class="columns is-gapless">
        <div class="column is-one-third">
          <label class="label">Title</label>
          <div class="control">
            <div class="select is-fullwidth">
              <select>
                <option>Mr</option>
                <option>Mrs</option>
                <option>Miss</option>
                <option>Ms</option>
              </select>
            </div>
          </div>
        </div>
        <div class="column">
          <label class="label">First name</label>
          <div class="control">
            <input class="input" type="text" placeholder="First name">
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Surname at birth (Optional)</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input" value="surname at birth">
        </div>
      </div>

      <div class="field">
        <label class="label">Date of birth</label>
        <div class="control">
          <input class="input is-fullwidth" type="date" placeholder="Text input" value="bulma">
        </div>
      </div>

      <div class="field">
        <label class="label">NIC number</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input" value="---">
        </div>
      </div>
    </div>

  </div>

  <div class="columns is-two-thirds ml-4 mt-4">
    <div class="column is-two-thirds">

      <p class="title is-4">Upload Content :</p>

      <div class="block is-bordered line-height_4">
        <div class="column ">
          <p class="title is-2 mb-4 my-2 has-text-centered">
            <span class="fas fa-upload mr-4" ></span>
            <span class="fas fa-camera ml-4"></span>
          </p>
          <p class="title is-5 my-4 has-text-centered">Upload your file</p>
          <p class="subtitle is-6  has-text-centered">you can take a picture or upload your document</p>
          <p class="subtitle is-5 has-text-centered">
            <span class="my-2 mr-2">---</span>
            <span class="my-2">OR</span>
            <span class="my-2 ml-2">---</span>
          </p>
          <div class="mt-4 mb-4 has-text-centered">
            <button class="button is-primary has-text-white">Upload</button>
          </div>

          <p>Max size is 5 MB ,Allowed files are .jpg,.png,.jpeg,.img,.pdf</p>

          <div class="block mt-2">
            <div class="columns mt-4 is-column-gap-2">
              <button class="button is-half column is-half">Cancel</button>
              <button class="button is-half column is-dark ">Next</button>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
