<div class="container mt-4">
  <p class="title is-5 mb-4 mt-4">Welcome Back , {{appAuthService.role()}}</p>
  <hr/>
  <p class="title is-4">Company Information</p>
  <table class="table is-striped is-small is-fullwidth mt-6">
    <thead>
    <tr>
      <th>Name of Company</th>
      <th>Type of Entity</th>
      <th>Business Activity</th>
      <th>Country of Incorporation</th>
      <th>Registration Number</th>
    </tr>
    </thead>
    <tbody>
    <tr class="cursor" *ngFor="let application of applications()|async" [routerLink]="['/dashboard/detail', application.id]">
      <td>{{application.companyName}}</td>
      <td>{{application.entityType}}</td>
      <td>{{application.businessActivity}}</td>
      <td>{{application.countryOfIncorporation}}</td>
      <td>
        <p>{{application.registrationNumber}}
          <span class=" p-1 is-small has-radius-rounded has-background-danger-70 has-text-white is-float-right">
            {{application.status}}
          </span>
        </p>

      </td>
    </tr>
    </tbody>
  </table>
</div>
