<div class="columns is-vcentered is-centered" style="height:100vh;">
  <div class="column is-half">
    <div class="box">
      <label class="label is-medium">Search</label>
      <div class="control  has-icons-right">
        <input class="input is-small" type="email" placeholder="Normal">

        <span class="icon is-small is-right">
      <i class="fas fa-search"></i>
    </span>

        <div>
          <p class="subtitle is-small">

          </p>
        </div>
      </div>
    </div>
  </div>
</div>
